/*cambio a mobile*/

@media screen and (min-width:0px) and (max-width:480px){
  #icon{
    display:flex;
  }
  .botones{
    display: none;
  }
  #seccionParrafos{
    display: none;
  }
  #seccionVideo{
    background: #fff;
  }
  .textoSecciones{
    margin:0%;
    padding:0%;
  }
  #tituloVideo  {
    font-size: 2em;
  }
  #tituloParrafos{
    font-size: 4em;
  }
  #textoHome{
    padding:5%;
    font-size: 2.5em;
  }
}
