/*cambio a mobile*/

@media screen and (min-width:320px) and (max-width:480px){
  #icon{
    display:flex;
  }
  .botones{
    display: none;
  }
  #seccionHome{
    display: none;
  }
  #seccionVideo{
    background: #fff;
  }
}
