
*{
  margin:0;
  padding:0;
}

body{
  width: 100%;
  height: 100%;
}
.container{
  width:100%;
  display: flex;
  flex-direction: row;
}

header{
  background: #B0B0B0;
  align-items: center;
}
nav{
  background: #BCBCBC;
  padding: 2%;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
#seccionHome{
  background: #BE6870;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
#portadaHome{
  width: 100%;
  height: 100%;
  background-size: cover;
  align-content: center;

}
#textoHome{
  padding:10%;
  font-size: 8vw;
}
#seccionParrafos{
  background: #999999;
  flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}
#parrafoUno{
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: 5vw;
  color:#8ED1C7;
  align-content: center;
}
#parrafoDos{
  align-items: center;
  align-content: center;
  justify-content: center;
}
.width{
  width: 40%;

}
p{
  background:#fff;
  padding: 1%;
  border-top: 4px solid #A02841;
  border-bottom: 4px solid #A02841;
}
.textoSecciones{
  padding:2%;
  margin: 2%;
}
img{
  margin:2%;
  padding:2%;
  border: 2px solid #8ED1C7;
}
#tituloParrafos{
  font-size: 4vw;
  color:#A02841;
  font-family: 'Lobster Two', cursive;
}
.secciones{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contenedores{
  align-items: center;
  justify-content: center;
  align-content: center;
}
#seccionVideo{

  background: #8ED1C7;
  padding:3%;font-family: 'Lobster Two', cursive;
}
#contenedorVideo{
  width:80%;
}
iframe{
  max-width:100%;
}

#tituloVideo{
  font-size: 5vw;
  padding: 1%;
  margin:1%;
  color:#fff;
  font-family: 'Lobster Two', cursive;
}
form{
  background:  #8ED1C7;
  margin:1%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 40%;
  padding:3%;
}
#tituloForm{
  font-family: 'Lobster Two', cursive;
}
footer{
  background: #707070;
  padding:2%;
}
/**/
#icon{
  display:none;
}
input , textarea{
  width: 100%;
  padding:1%;
  margin: 1%;
}
button{
  border: none;
  color:#fff;
  background-color: #A02841;
  padding: 2%;
  font-family: 'Lobster Two', cursive;
}
/*cambio a mobile*/
