
*{
  margin:0;
  padding:0;
}

body{
  width: 100%;
  height: 100%;
}
.container{
  width:100%;
  display: flex;
}

header{
  background: #B0B0B0;
  align-items: center;
}
nav{
  background: #BCBCBC;
  padding: 2%;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
#seccionHome{
  background: #909090;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
#textoHome{
  padding:10%;
  font-size: 8em;
}
